{{ define "header" }}

<section class="bg-primary mb-4">
    <div class="container py-5">
        <div class="align-items-center">
            <div class="text-md-left mb-n4">
                <h1 class="text-white font-weight-bold mb-4">
                    {{ block "header_title" . }}
                        {{ .Title }}
                    {{ end }}
                </h1>

                {{ if ne .Type "static" }}
                <div class="text-white">
                    <i class="fa fa-calendar"></i> {{ .Date.Day }}. {{ index $.Site.Data.months (printf "%d" .Date.Month) }} {{ .Date.Year }}

                    {{ if .Params.tags }}
                    <i class="fa fa-tags"></i>
                        {{ $length := (len .Params.tags )}}
                        {{ range $counter, $tag := .Params.tags }}
                            <a href="{{ "/blog/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ if ne $counter (sub $length 1) }}, {{ end }}
                        {{ end }}
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}

{{ define "main" }}

<main class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="blog-post">                
                {{ .Content }}
            </div>
        </div>

        <div class="col-md-4 widgets">
            {{ partial "widget-about.html" }}

            {{ partial "widget-tags.html" . }}

            {{ partial "widget-archive.html" . }}
        </div>
    </div>
</main>

{{ end }}