{{ define "javascript" }}
{{ if (ne .Params.comments false) }}
<script data-isso="https://isso.schulit.de/" data-isso-css="false" src="https://isso.schulit.de/js/embed.min.js"></script>
{{ end}}
{{ end }}

{{ define "main" }}

<main class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{{ .Site.Title }}</a></li>
            <li class="breadcrumb-item"><a href="{{ "/blog/" | relURL }}">Blog</a></li>
            <li class="breadcrumb-item">{{ .Title }}</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-8">
            <div class="blog-post">
                <h2 class="post-title">
                    {{ .LinkTitle }}
                </h2>

                {{ if ne .Type "static" }}
                <p class="post-meta">
                    <i class="fa fa-calendar"></i> {{ .Date.Day }}. {{ index $.Site.Data.months (printf "%d" .Date.Month) }} {{ .Date.Year }}

                    {{ if .Params.tags }}
                    <i class="fa fa-tags"></i>
                        {{ $length := (len .Params.tags )}}
                        {{ range $counter, $tag := .Params.tags }}
                            <a href="{{ "/blog/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ if ne $counter (sub $length 1) }}, {{ end }}
                        {{ end }}
                    {{ end }}
                </p>
                {{ end }}
                
                {{ .Content }}

                {{ $commitSha := .GitInfo.AbbreviatedHash }}
                {{ with .Lastmod }}
                <p class="text-secondary">
                    <i class="fa fa-calendar"></i> Letzte Änderung: {{ .Day }}. {{ index $.Site.Data.months (printf "%d" .Month) }} {{ .Year }} {{ .Hour }}:{{ .Minute }} ({{ $commitSha }})
                </p>
                {{ end }}
            </div>

            <div class="comments">
                <h1>Kommentare</h1>

                <section id="isso-thread">

                </section>
            </div>
        </div>

        <div class="col-md-4 widgets">
            {{ partial "widget-about.html" }}

            {{ partial "widget-tags.html" . }}

            {{ partial "widget-archive.html" . }}
        </div>
    </div>
</main>

{{ end }}