$font-size-base: 1rem;
$enable-responsive-font-sizes: true;
$web-font-path: false;

@import "@fontsource/lato";

@import "~bootswatch/dist/flatly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/flatly/bootswatch";

// Import FontAwesome
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands';

@import '../../node_modules/aos/dist/aos.css';

@import "../../node_modules/zoom-vanilla.js/dist/zoom.css";

body {
  	height: 100vh;
}

// Import Callouts
@import './callouts.scss';

h1, h2, h3, h4, h5, h6 {
	.heading-link {
		display: none;
		margin-left: 5px;
		font-size: 80%;
	}

	&:hover {
		.heading-link {
			display: inline-block;
		}
	}
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.navbar-brand:hover,
a.nav-link:hover,
a.dropdown-item:hover,
a.btn:hover {
	text-decoration: none;
}

main.container {
	margin-top: 10px;

	ol.breadcrumb {
		background: none;
		padding-left: 0;
	}
	
	.widgets {
		.card {
			+.card {
				margin-top: 10px;
			}
		}
	}

	.pages {
		>.card {
			margin-bottom: 10px;
		}
	}
}

.pages {
	.card {
		.card-link {
			margin-right: $card-spacer-x;

			+ .card-link {
				margin-left: 0;
			}
		  }
	}
}

.blog-post {
	margin-bottom: 5px;

	.post-meta {
		@extend .text-secondary;
	}

	.table-of-contents {
		max-width: 300px;

		ul {
			list-style: none;
			margin:0px;
			padding: 0px;

			ul {
				margin-left: 10px;
			}
		}
	}

	> p {
		text-align: justify;
	}

	.figure {
		display: table;
		margin-left: auto;
		margin-right: auto;
	}

	table {
		margin-bottom: 10px;
		@extend .table;
		@extend .table-striped;
	}

	pre {
		@extend kbd;
	}
}

.highlight {
	pre {
		padding: 5px;
	}
}

nav.pagination {
	margin-top: 10px;
}

.sidebar {
	.card {
		margin-bottom: 10px;
	}
}

#search-results {
	margin-top: 10px;
}

.tns-nav {
	text-align: center;
	margin: 10px 0;

	& > [aria-controls] {
		width: 9px;
		height: 9px;
		padding: 0;
		margin: 0 5px;
		border-radius: 50%;
		background: #ddd;
		border: 0;
	}

	& .tns-nav-active { 
		background: #999;
	}
}