{{ define "main" }}
{{ $paginator := .Paginate (where .Site.RegularPages "Section" "blog").ByPublishDate.Reverse }}

<main class="container">
    {{ partial "breadcrumb" . }}

    <div class="row">
        <div class="col-md-8">
            {{ range $paginator.Pages }}
                <div class="blog-post">
                    <h2 class="post-title">
                        <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                    </h2>

                    <p class="post-meta">
                        <i class="fa fa-calendar"></i> {{ .Date.Day }}. {{ index $.Site.Data.months (printf "%d" .Date.Month) }} {{ .Date.Year }}
                        
                        {{ if .Params.tags }}
                        <i class="fa fa-tags"></i>
                            {{ $length := (len .Params.tags )}}
                            {{ range $counter, $tag := .Params.tags }}
                                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ if ne $counter (sub $length 1) }}, {{ end }}
                            {{ end }}
                        {{ end }}
                    </p>
                    <p>
                        {{ .Summary }}
                    </p>
                    <a href="{{ .URL }}">weiterlesen</a>
                </div>
            {{ end }}

            <nav class="pagination" aria-label="Page navigation example">
                <ul class="pagination">
                    {{ if $paginator.HasPrev }}
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {{ end }}
                    {{ if $paginator.HasNext }}
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </nav>
        </div>

        <div class="col-md-4">
            {{ partial "widget-about.html" }}

            {{ partial "widget-tags.html" . }}
        </div>
    </div>
</main>

{{ end }}