{{ define "javascript" }}
    <script src="{{ (index .Site.Data.manifest "search.js") | absURL }}"></script>
{{ end }}

{{ define "main" }}

<main class="container">
    <h2 class="post-title">
        {{ .LinkTitle }}
    </h2>

    <form action="{{ "search" | absURL }}">
        <input id="search-query" name="s" class="form-control" placeholder="Suchbegriff eingeben">
    </form>

    <div id="search-results">
        
    </div>

    <script id="search-result-template" type="text/x-js-template">
        <div id="summary-${key}">
        <h4><a href="${link}">${title}</a></h4>
        <p>${summary}</p>
        </div>
    </script>
</main>

{{ end }}