{{ define "javascript" }}
{{ if (ne .Params.comments false) }}
<script data-isso="https://isso.schulit.de/" data-isso-css="false" src="https://isso.schulit.de/js/embed.min.js"></script>
{{ end}}
{{ end }}

{{ define "main" }}

<main class="container">
    {{ partial "breadcrumb" . }}

    <div class="blog-post">
        <h2 class="post-title">
            {{ .LinkTitle }}
        </h2>

        {{ if and (eq .Type "static") (ne .Params.toc false)  }}
        <div class="table-of-contents float-right">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Inhalt</h5>
                    
                    {{.TableOfContents}}
                </div>
            </div>
        </div>
        {{ end }}

        {{ if ne .Type "static" }}
        <p class="post-meta">
            <i class="fa fa-calendar"></i> {{ .Date.Format "2. January 2006" }}

            {{ if .Params.tags }}
            <i class="fa fa-tags"></i>
                {{ $length := (len .Params.tags )}}
                {{ range $counter, $tag := .Params.tags }}
                    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ if ne $counter (sub $length 1) }}, {{ end }}
                {{ end }}
            {{ end }}
        </p>
        {{ end }}
        
        {{ .Content }}
    </div>

    <div class="comments">
        <h1>Kommentare</h1>

        <section id="isso-thread">

        </section>
    </div>
</main>

{{ end }}