@import url("../assets/fontawesome/css/all.css");
@import url("../assets/inter/inter.css");
@import url("../assets/zoom-vanilla/zoom.css");
@import url("../assets/tiny-slider/tiny-slider.css");

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


:root, html { 
  font-family: Inter,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

h1, h2, h3, h4, h5, h6 {
	.heading-link {
    @apply text-primary-600 dark:text-primary-500;
		display: none;
		margin-left: 5px;
		font-size: 80%;
	}

	&:hover {
		.heading-link {
			display: inline-block;
		}
	}
}