    <footer>
        <p>© 2018 SchoolIT</p>
        <p><a href="https://github.com/schoolit-de" target="_blank"><i class="fa fa-github"></i> GitHub</a> 
            - <a href="/blog/index.xml"><i class="fa fa-rss"></i> RSS-Feed</a>
            - <a href="{{ "/impressum" | absURL }}">Impressum</a> 
            - <a href="{{ "/datenschutz" | absURL }}">Datenschutz</a>
        </p>
    </footer>

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ "/build/app.js" | absURL }}"></script>
</body>

</html>