<div class="card">
    {{ range $year := (where .Site.Pages "Type" "post").GroupByDate "2006" }}
    <div class="card-body">
        <h5 class="card-title">{{ (index $year.Pages 0).Date.Format "2006" }}</h5>
        <p class="card-text">
            {{ range $month := $year.Pages.GroupByDate "January" }}
                {{ $url := (index $month.Pages 0).Date.Format "2006/01" | urlize}}    
                <a href="/blog/{{ $url }}">{{ index $.Site.Data.months (printf "%d" (index $month.Pages 0).Date.Month) }}</a>
            {{ end }}
        </p>
    </div>
    {{ end }}
</div>