{{ define "main" }}

<main class="container">
    <div class="jumbotron">
        <h2 class="display-4">Willkommen!</h2>
        <p class="lead">Auf diesen Seiten sollen Anleitungen zu schulischer IT-Arbeit gesammelt und allen verfügbar gemacht werden!</p>
    </div>
</main>

<main class="container">
    <div class="card-deck">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="/blog">Blog</a>
                </h5>
                <p class="card-text">
                    Unsortierte Beiträge aus der IT-Welt der Schule.
                </p>
            </div>
        </div>

        <div class="w-100 d-none d-xs-block d-sm-none"><!-- wrap every 1 on xs--></div>

        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="/office365">Office 365</a>
                </h5>
                <p class="card-text">
                    Nützliche Anleitungen für die Administration von Office 365.
                </p>
            </div>
        </div>

        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>

        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="/sccm">SCCM</a>
                </h5>
                <p class="card-text">
                    Anleitungen rund um das SCCM.
                </p>
            </div>
        </div>

        <div class="w-100 d-none d-xs-block d-sm-none"><!-- wrap every 1 on xs--></div>

        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="/software">Software</a>
                </h5>
                <p class="card-text">
                    Im Schulalltag verwendete Software open-source für jeden!
                </p>
            </div>
        </div>
    </div>
</main>

{{ $blog := first 2 (where .Site.RegularPages "Section" "blog").ByPublishDate.Reverse}}

<main class="container">
    <h2>Aus dem Blog</h2>

    <div class="card-deck">
        {{ range $blog }}
            <div class="card blog-post mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ .URL }}">{{ .LinkTitle }}</a>
                    </h5>

                    <p class="post-meta">
                        <i class="fa fa-calendar"></i> {{ .Date.Day }}. {{ index $.Site.Data.months (printf "%d" .Date.Month) }} {{ .Date.Year }}
                    </p>

                    <p class="card-text">
                        {{ .Summary }}
                    </p>
                </div>
            </div>

            <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 1 on sm--></div>
        {{ end }}
    </div>

    <a href="/blog">Zum Blog</a>
</main>

{{ end }}