{{ define "header_title" }}
    Schulische IT und Software
{{ end }}
{{ define "header_description" }}
    Auf diesen Seiten soll unser Wissen zu schulischer IT bereitgestellt sowie unsere Software für die digitale
    Organisation des Schulalltags vorgestellt werden.
{{ end }}
{{ define "header_buttons" }}
    <a href="/tutorials" class="btn btn-info">
        <i class="far fa-file-alt"></i> Zu den Anleitungen
    </a>

    <a href="/software" class="btn btn-info">
        <i class="fas fa-box-open"></i> Zur Software
    </a>
{{ end }}

{{ define "main" }}

<section>
    <div class="container mb-4">
        <div class="row">
            <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
                <h3 class="mt-4 h5">
                    <i class="fas fa-code"></i> Open Source
                </h3>
                <p class="regular">
                    Der Quelltext aller Programme steht frei zur Verfügung und kann verändert werden. Wir verwenden entweder die MIT oder AGPL.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
                <h3 class="mt-4 h5">
                    <i class="fas fa-money-bill-wave"></i> Kostenlos
                </h3>
                <p class="regular">
                    Alle Programme stehen kostenlos zur Verfügung. Das ist jetzt so und wird auch so bleiben.
                </p>
            </div>

            <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
                <h3 class="mt-4 h5">
                    <i class="fas fa-chalkboard-teacher"></i> Von Lehrkräften für die Schule
                </h3>
                <p class="regular">
                    Die Software wird von Lehrkräften entwickelt, um den Schulalltag zu erleichtern.
                </p>
            </div>
        </div>
    </div>
</section>

{{ $blog := first 2 (where .Site.RegularPages "Section" "blog").ByPublishDate.Reverse}}

<main class="container mb-4">
    <h3 class="h5">
        <i class="fas fa-rss"></i> Aus dem Blog
    </h3>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        {{ range $blog }}
        <div class="col">
            <div class="card blog-post mb-3 h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ .URL }}">{{ .LinkTitle }}</a>
                    </h5>

                    <p class="post-meta">
                        <i class="fa fa-calendar"></i> {{ .Date.Day }}. {{ index $.Site.Data.months (printf "%d" .Date.Month) }} {{ .Date.Year }}
                    </p>

                    <p class="card-text">
                        {{ .Summary }}
                    </p>
                </div>
            </div>

        </div>
        {{ end }}
    </div>
</main>

{{ end }}