{{ define "header" }}
<section class="bg-primary mb-4">
    <div class="container py-5">
        <div class="align-items-center">
            <div class="text-center text-md-left mb-n4">
                <h1 class="text-white font-weight-bold mb-4">
                    <i class="fa fa-calendar"></i> {{ .Title }}
                </h1>
            </div>
        </div>
    </div>
</section>
{{ end }}

{{ define "main" }}

{{ $archive := lower .Title }}
{{ $year := index (split $archive "/") 0 }}
{{ $month := strings.TrimLeft 0 (index (split $archive "/") 1) }}

<main class="container">
    <div class="row">
        <div class="col-md-8">
            {{ $paginator := .Paginate .Data.Pages }}
            {{ range $paginator.Pages }}
            <div class="blog-post">
                    <h2 class="post-title">
                        <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                    </h2>

                    <p class="post-meta">
                        <i class="fa fa-calendar"></i> {{ .Date.Day }}. {{ index $.Site.Data.months (printf "%d" .Date.Month) }} {{ .Date.Year }}
                        
                        {{ if .Params.tags }}
                        <i class="fa fa-tags"></i>
                            {{ $length := (len .Params.tags )}}
                            {{ range $counter, $tag := .Params.tags }}
                                <a href="{{ "/blog/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ if ne $counter (sub $length 1) }}, {{ end }}
                            {{ end }}
                        {{ end }}
                    </p>
                    <p>
                        {{ .Summary }}
                    </p>
                </div>
            {{ end }}

            {{ partial "paginator.html" $paginator }}
        </div>

        <div class="col-md-4 widgets">
            {{ partial "widget-about.html" }}

            {{ partial "widget-tags.html" . }}

            {{ partial "widget-archive.html" . }}
        </div>
    </div>
</main>

{{ end }}